    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/global.css">
    <!-- endbuild -->


<body>
  <script async src="https://umami.eniworks.net/script.js" data-website-id="b13dd405-8a8e-4780-98b8-ce304f7e1818"></script>
  <div th:each="test : ${MAPLOCATIONS}"> 
     <p class = "text-center housing form summary">
     <p class = "col-md-4 col-md-offset-4">
     	<span th:text="${test}"></span>
     </p>
     </p>
  </div>
</body>